h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    }
  
    .colum01{
      padding: 3%;
      color:rgb(27, 48, 89);
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .colum02{
      padding: 5%;
    }
  
    img{
      clip-path: circle(50.4% at 50% 50%);
      background-color: rgba(145, 145, 145, 0.282);
      
    }
  
    div{
      align-items: center;
      text-align: center;
    }